.photo-card {
  color: white;
  width: 425px;
  height: 350px;
  border: 2px solid #7271df;
  border-radius: 10px;
  background: linear-gradient(180deg, #5a19f4, #650877);
  overflow: hidden;
  transition: transform 250ms linear, box-shadow 250ms linear;
}

.photo-card:hover,
.photo-card:focus {
  transform: scale(1.05);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-width: 0;
}

.img-item {
  height: fit-content;
  overflow: hidden;
}

.photo-card img {
  height: 280px;
  transition: transform 250ms linear;
}

.photo-card img:hover,
.photo-card img:focus {
  transform: scale(1.25);
}

.info {
  height: 70px;
  display: flex;
  align-items: center;
}

.info-item {
  text-align: center;
  width: 25%;
}
